body {
  font-size: 62.5%;
  font-family: "Exo", serif;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #EEF0F2;
}

.container {
  width: 100%;
  max-width: 960px;
  height: 90%;
  margin: 0 auto;
  padding: 20px;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  background-color: #6080ff;
}

.container h2 {
  font-size: 2rem;
  color: #333;
}

.github-finder {
  font-size: 3.2rem;
  position: absolute;
  left: 0%;
  transform: rotate(-90deg);
  opacity: 0.2;
}

.header {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  align-items: center;
  margin-bottom: 16px;
  gap: 10px;
}

.devicon-github-original {
  font-size: 2.4rem;
  color: #333;
}

.search-container {
  position: relative;
  width: 100%;
}

.search-container input {
  display: flex;
  width: 100%;
  height: auto;
  padding: 10px 80px 10px 10px;
  align-items: center;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
}

.search-container button {
  font-family: "Exo", serif;
  font-size: .8rem;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border: none;
  background-color: #333;
  color: #fff;
  padding: 0 20px;
  cursor: pointer;
  margin: 4px 4px 4px 0;
  border-radius: 5px;
  align-items: center;
}
