body {
  font-size: 62.5%;
  font-family: "Exo", serif;
  display: flex;
  align-items: center;
  max-width: 100vw;
  padding: 16px;
  background-color: #EEF0F2;
}

.container {
  width: 100%;
  max-width: 960px;
  height: 90%;
  margin: 0 auto;
  padding: 20px;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  background-color: #6080ff;
}

.container h1 {
  font-size: 2.2rem;
  color: #333;
}

.header {
  display: flex;
  align-items: center;
  align-items: center;
  margin-bottom: 16px;
  gap: 10px;
}

.devicon-github-original {
  font-size: 2.6rem;
  color: #333;
}

.search-container {
  position: relative;
  width: 100%;
}

.search-container input {
  display: flex;
  width: 100%;
  height: auto;
  padding: 10px 80px 10px 10px;
  align-items: center;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
}

.search-container button {
  font-family: "Exo", serif;
  font-size: .8rem;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border: none;
  background-color: #333;
  color: #fff;
  padding: 0 20px;
  cursor: pointer;
  margin: 4px 4px 4px 0;
  border-radius: 5px;
  align-items: center;
}

.profile-data {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 30px;
}

.profile-data .profile-info {
  width: max-content;
  text-align: center;
  align-items: center;
  padding: 16px;
  background-color: #F7F7FF;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: none;
}

.profile-data .profile-info img {
  width: 160px;
  margin-bottom: 6px;
  border-radius: 50%;
  border: 3px solid #333;
}

.profile-data .profile-info .data h1 {
  font-size: 1.4rem;
  color: #333;
  margin-bottom: 6px;
}

.profile-data .profile-info .data h2 {
  font-size: 1rem;
  color: #333;
  margin-bottom: 6px;
}

.profile-data .profile-info .data p {
  font-size: 1rem;
  color: #333;
  margin-bottom: 26px;
}

.repositories-section {
  margin-bottom: 30px;
}

.repositories-section h2, 
.events-section h2 {
  font-size: 1.4rem;
  color: #333;
  margin-bottom: 16px;
  text-align: center;
}

.repositories-section ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 0;
}

.repositories-section ul li {
  display: flex;
  flex-direction: column;
  width: 260px;
  height: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #F7F7FF;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 16px;
  gap: 8px;
  font-size: .8rem;
}


.repositories-section ul li a {
  color: #333;
  font-size: 1rem;
  text-transform: uppercase;
}

.data .botao-contato {
  padding: 8px 16px;
  border-radius: 10px;
  font-family: "Exo", serif;
  font-size: .8rem;
  border: none;
  background-color: #333;
  cursor: pointer;
}

.data .botao-contato a {
  color: #fff;
}

.profile-statistics {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.profile-data .profile-info .data .profile-statistics p {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.events-section {
  padding: 16px;
  background-color: #F7F7FF;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: none;
}

.events-list {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.events-list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.events-list li {
  padding: 8px 0;
  font-size: .8rem;
  border-bottom: 1px solid #333;
}
